- name: install software watchdog
  package:
    name: watchdog
    state: present

- name: configure watchdog
  lineinfile:
    dest: /etc/watchdog.conf
    regexp: '^[#\s]*{{ item.key|regex_escape }}\s*='
    line: '{{ item.key }} = {{ item.value }}'
    state: present
  with_dict:

    # how often watchdogs checks (seconds):
    "interval": 57
    # allow no writes to watchdog device before rebooting (seconds):
    "watchdog-timeout": 120

    # allow errors to persist before rebooting (seconds)
    "retry-timeout": 300

    # yes, load can (legitimately) be *very* high
    # under e.g., a lot of memory/swap pressure
    "max-load-15": "{{ (ansible_processor_vcpus + ansible_devices|count) * 16 }}"
    "max-load-5": "{{ (ansible_processor_vcpus + ansible_devices|count) * 32 }}"
    "max-load-1": "{{ (ansible_processor_vcpus + ansible_devices|count) * 64 }}"

- name: enable watchdog service
  service:
    name: watchdog
    state: started
    enabled: yes
