- name: create tahoe user
  user: name="{{ tahoe_user }}"
        shell="{{ ansible_user_shell }}"

- name: install required packages
  package: name="{{ item.key }}" state="{{ item.value }}"
  with_dict: "{{ tahoe_packages |
                 combine(tahoe_packages_extra | default({})) }}"

- name: check pip version
  register: pip_version
  command: pip --version
  changed_when: false

- name: upgrade away from pip 8.1.1
  pip: name=pip state=latest
  when: "' 8.1.1 ' in pip_version.stdout"
