# make sure the fit in a line like "a,b,c{sshd_extra_macs}
sshd_extra_macs: ""
sshd_extra_kex: ""
ssh_needs_ecdsa_host_key: no
sshd_allow_password_auth: no

tmp_hardening_report_file: /root/tmp_hardening_report.txt
rkhunter_version: 1.4.2

# optionally, define nameservers
nameservers: []

use_logcheck: yes
use_haveged: yes
do_email_send_test: yes
create_reports: yes
use_process_accounting: yes
hide_processes_between_users: yes

postfix_global_options:

  # Example: How to add custom Postfix options
  #          (put this into your Playbook vars):
  #  - postfix_extra_options:
  #    line_length_limit: 4096

  # Example: How to set post aliases
  #          (put this into your Playbook vars):
  #  - post_aliases:
  #    - { user: "{{ ansible_env.USER }}",
  #        alias: "{{ ansible_fqdn }}+{{ ansible_env.USER }}@example.com"}

  smtpd_banner: $myhostname ESMTP
  biff: "no"
  readme_directory: "no"
  append_dot_mydomain: "no"
  delay_warning_time: 1h
  recipient_delimiter: +

  alias_maps: hash:/etc/aliases
  alias_database: hash:/etc/aliases

  mynetworks: 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

  # SMTP SSL
  smtp_tls_session_cache_database: btree:${data_directory}/smtp_scache
  smtp_tls_security_level: may
  smtp_tls_protocols: "!SSLv2, !SSLv3"

  # apple mail may send very long lines:
  line_length_limit: 2048

  # try the OS' host name lookup mechanism before failing
  smtp_host_lookup: dns, native


lynis_global_options:

  # use lynis_extra_options just like postfix_extra_options to customize
  # the configuration in a Playbook

  # skip test for system management tools, since we _do_ use Ansible
  # what Lynis cannot detect (https://github.com/CISOfy/lynis/issues/212)
  - {section: security, option: skip-test=TOOL-5002}

  # Lynis advices "decrease the impact of a full /… file system, place
  # /… on a separated partition" but partitioning the disk at the same
  # time raises the likeliness of partitions filling up.
  # We rely on email notification upon high disk usage.
  - {section: security, option: skip-test=FILE-6310}

  # we rkhunter during the Playbook execution (what Lynis cannot detect):
  - {section: security, option: skip-test=HRDN-7230}


# Settings for password aging (will be applied for all existing accounts!)
# * Maximum number of days a password may be used.
# * Maximum number of days a password may be used.
# * Number of days warning given before a password expires.
# Disabled by default. See also man login.defs
pass_max_days: -1
pass_min_days: -1
pass_warn_age: 30

# email root if a disk mounted from /dev/… fills above this percentage,
# negative values will disable the check
disk_space_alert_percentage: 95



sshd_global_options:
  # use sshd_extra_options just like postfix_extra_options to customize
  # the configuration in a Playbook

  # reduce risk of BREACH exploit
  Compression: "no"

  # no DNS reverse lookups for connecting hosts (unnecessary & laggy)
  UseDNS: "no"

  # enable display of a login banner
  Banner: "/etc/issue.net"

  # enable display of last login upon login
  PrintLastLog: "yes"

  # close sessions of unresponsive clients more quickly
  ClientAliveCountMax: "2"

  # increase logging verbosity
  LogLevel: "VERBOSE"

  # disconnect after one failed login attempt
  MaxAuthTries: "1"

  # this is the maximum number of multiplexed sessions per connection
  # (however, there can be multiple connections)
  MaxSessions: "2"

  # reduce risk of TCP spoofing attacks
  TCPKeepAlive: "no"

  # reduce risk of compromised machines re-using client's ssh agents
  AllowAgentForwarding: "no"

  # reduce risk of users bypassing firewalls
  AllowTcpForwarding: "no"

  # create unprivileged child process to deal with incoming traffic
  # (pre-authentication only)
  UsePrivilegeSeparation: "sandbox"

  # reduce risk of unwanted X11 forwardings/"leaking displays"
  X11Forwarding: "no"

  # bind the X11 forwarding server to the loopback address
  # (see man sshd_config)
  X11UseLocalhost: "yes"

  "Subsystem sftp": internal-sftp

apt_tools:
  # maps package name to it's desired state,
  # use apt_tools_extra just like postfix_extra_options to customize
  # the configuration in a Playbook

  apticron: present
  needrestart: present
  debsums: present
